@model Site.Areas.w7painel.Models.Grupo
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Grupo</legend>
    <div class="display-label">Nome:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">Permissões:</div>
    <div class="display-field">
         @foreach (var plugin in Model.Permissoes.Select(x => x.Plugin).Distinct().ToList() )
        {
            <em>@plugin.Nome</em><br />
            foreach (var permissao in Model.Permissoes.Where(x => x.Plugin.Id == plugin.Id).ToList())
            {
                @permissao.Nome<br />
            }
        }
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
