@{
    ViewBag.Title = "Site, seu conteúdo na internet";
}
<h2>
    Página Inicial do Site</h2>
<p>
    Está página conterá os plugins de notícia, vídeo e evento</p>
<p>@Html.ActionLink("W7Painel", "Index", "Home", new { area = "w7painel" }, null)</p>
