@{
	ViewBag.Title = "W7Painel - Gerenciador de Conteúdo";
	Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}

<!-- start content -->
<div id="content">

	<!--  start page-heading -->
	<div id="page-heading">
		<h1>Add product</h1>
	</div>
	<!-- end page-heading -->

	
	
	<div class="clear">&nbsp;</div>

</div>


