@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Noticias Cadastradas</h2>
<ul>
    <li>Minha Noticias[ @Html.ActionLink("Editar Noticia", "Update", "Noticia", new { area = "w7painel" }, null) | @Html.ActionLink("Excluir Noticia", "Excluir", "Noticia", new { area = "w7painel" }, null) ]</li>
</ul>

        
        
        
        
        
    
