@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Listar Noticia", "Index", "Noticia", new { area = "w7painel" }, null)
<h2>Update</h2>
Alterar noticia NoNoNoNO