@{
    ViewBag.Title = "Excluir";
    Layout = "~/Areas/w7painel/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Listar Vídeos", "Index", "Video", new { area = "w7painel" }, null)
<h2>Excluir</h2>
